*{
 margin: 0;
 padding: 0;
 font-family: *poppins*,sans-serif;   
}
ul{
    list-style: none;
}
a{
  text-decoration: none;  
}
.container{
    background-image: url(./img/arri\ copie.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte{
    width: 350px;
    height: 610px;
    background-color: #3d265c;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}
.modele{
    height: 250px;
    height: 50%;
    max-width: 80%;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.detail p{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.detail h1{
    color: deeppink ;
}
.SNEAKERS{
    color: rgb(105, 99, 99);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px;
}
.logo{
    width: 200px;
}
.carte:hover{
    background-color: #3068a8;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}
.carte:hover .SNEAKERS{
    color: snow;
    transition: all ease 0.3;
}
@media(max-width:720px){
    .carte{
        width: 94%;
        height: 560px;
    }
    .modele{
        height: 250px;
    }
    .detail{
        font-size: 16px;
        width: 250px;
    }
}
.container{
     grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}